
client
nobind
dev tun
remote-cert-tls server
remote $VPN_SERVER_HOST $VPN_SERVER_PORT udp
key-direction 1
redirect-gateway def1
ca /etc/openvpn/client/ca.crt
key /etc/openvpn/client/$VPN_CLIENT_NAME.key
cert /etc/openvpn/client/$VPN_CLIENT_NAME.crt
tls-auth /etc/openvpn/client/ta.key 1
script-security 2
up /etc/openvpn/client-up.sh
comp-lzo
